<h2 mat-dialog-title>Ajustar Stock</h2>

<div mat-dialog-content>

  <form [formGroup]="form" class="form-wrapper">

    <p><strong>Producto:</strong> {{ data.name }}</p>
    <p><strong>Stock actual:</strong> {{ data.stock }}</p>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Tipo de ajuste</mat-label>
      <mat-select formControlName="type">
        <mat-option value="INCREASE">Entrada</mat-option>
        <mat-option value="DECREASE">Salida</mat-option>
        <mat-option value="SET">Ajuste directo (valor exacto)</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="form.value.type !== 'SET'">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Cantidad</mat-label>
        <input type="number" matInput formControlName="quantity" min="1">
      </mat-form-field>
    </div>

    <div *ngIf="form.value.type === 'SET'">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Nuevo valor</mat-label>
        <input type="number" matInput formControlName="newValue" min="0">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</div>
