.switcher {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: #aaa;
  font-size: 14px;
  font-weight: 600;
}

.switcher-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.switcher-item {
  font-size: 15px;
  color: #ddd;
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}

.switcher-item:hover {
  color: #fff;
}

.switcher-item.active {
  color: #ffe600; /* Amarillo patito */
  border-bottom: 2px solid #ffe600;
  font-weight: 600;
}
