<h2 mat-dialog-title>Crear Usuario</h2>

<div mat-dialog-content>
  <form [formGroup]="form" class="form">

    <div class="input-group">
      <label>Usuario</label>
      <input type="text" formControlName="username">
    </div>

    <div class="input-group">
      <label>Nombre completo</label>
      <input type="text" formControlName="fullName">
    </div>

    <div class="input-group">
      <label>Teléfono</label>
      <input type="text" formControlName="phone">
    </div>

    <div class="input-group">
      <label>Contraseña</label>
      <input type="password" formControlName="password">
      <small *ngIf="form.get('password')?.hasError('minlength')">
        Mínimo 6 caracteres
      </small>
    </div>

    <div class="input-group">
      <label>Rol</label>
      <select formControlName="role">
        <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
      </select>
    </div>

    <div class="input-group">
      <label>Sucursal</label>
      <select formControlName="branchId">
        <option *ngFor="let b of branches" [value]="b.id">{{ b.name }}</option>
      </select>
    </div>

    <div class="input-group">
      <label>Activo</label>
      <input type="checkbox" formControlName="active">
    </div>

  </form>
</div>

<div mat-dialog-actions class="actions" align="end">
  <button (click)="dialogRef.close()" class="btn-cancel">Cancelar</button>
  <button (click)="save()" class="btn-save">Crear</button>
</div>
