.tabs-container {
  background: #1e1e1e;
  padding: 0.5rem 0;
}

.tabs-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab-item {
  color: #ccc;
  padding: 10px 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  gap: 6px;
}

.tab-item.active {
  color: #ffea00;
  border-color: #ffea00;
}

.tab-item:hover {
  color: white;
}
