.navbar {
  height: 60px;
  background: #111;
  color: #fff;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.menu-btn, .logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.navbar-title {
  font-size: 18px;
  font-weight: 600;
}
